<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\LMS.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <!-- Clears any inherited rewrite rules from the parent Angular/SPA site -->
          <clear />
        </rules>
      </rewrite>
      <!-- Prevents IIS from intercepting API status codes with custom HTML error pages -->
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
